<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.bms.dao.SensorDao">

	<resultMap id="SensorResultMap" type="SensorEntity">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="VERSION" property="version" jdbcType="BIGINT" />
		<result column="SERIAL_NUM" property="serialNum" jdbcType="VARCHAR" />
		<result column="USER_ID" property="userId" jdbcType="BIGINT" />
		<result column="SENSOR_TYPE" property="sensorType" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="saveSensorBySensor" parameterType="SensorEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO bms_sensor
		(
			CREATE_TIME,
			SERIAL_NUM,
			SENSOR_TYPE
		)
		VALUES
		(
			CURRENT_TIMESTAMP,
			#{serialNum, jdbcType=VARCHAR},
			#{sensorType, jdbcType=VARCHAR}
		)
	</insert>

	<select id="getSensorByUserId" resultMap="SensorResultMap" parameterType="Long">
		SELECT
			ID,
			CREATE_TIME,
			MODIFY_TIME,
			VERSION,
			SERIAL_NUM,
			SENSOR_TYPE,
			USER_ID
		FROM bms_sensor
		WHERE
			USER_ID=#{userid}
	</select>
	
</mapper>